<%- include('../partials/header') %>

    <main class="main" id="main">
        <div class="container">
            <h2 class="main-heading">Joke of
                the Day</h2>
            <p class="joke-of-the-day"><%= joke.setup %></p>
            <p class="home-punchline">Click here for
                <a href="/jokes/%= joke.id %>"
                    class=""punchline-link">punchline</a> 
            </p>

        </div>
    </main>

    <%- include('../partials/footer') %>

