<%- include('../partials/header') %>

<main class="main">jokesSingleMain</main>
    <div class="container">
        <p class="punchline"><%= data.punchline %></p>
        <div class="troll-div">
            <img src="/images/<%= randomTroll %>" alt="">
        </div>
    </div>
</main>
<%- include('../partials/footer') %>